.signup-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.signup-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.signup-button {
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.signup-title {
  text-align: center;
  margin-bottom: 20px;
}

.signup-header-image {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.signup-progress-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.signup-progress-step {
  flex: 1;
  height: 5px;
  background-color: #ccc;
  margin: 0 5px;
}

.signup-active-step {
  background-color: #28a745;
}

.signup-gender-container {
  display: flex;
  justify-content: space-between;
}

.signup-gender-button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #548560;
  border: none;
  cursor: pointer;
}

.signup-selected-gender {
  background-color: #28a745;
  color: white;
}

.signup-resend-link {
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
  text-align: center;
}

.signup-resend-form {
  margin-top: 10px;
}
